.Home{
    width: 100vw;
    height: 140vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(https://cdn.leonardo.ai/users/30a1e3de-5b2b-453f-9200-26ea1105d5b3/generations/124b7fe9-a83d-497d-a82d-6e9724cab2c1/Leonardo_Diffusion_I_am_looking_for_an_allchromatic_black_wall_0.jpg);
}